/*index*/
.navbar{
    background-color: #191919;
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    border-bottom: 2px solid white ;
}
.carousel-item{
    margin: 10px 300px 0px 300px;
}
/*login e cadastro*/
.input{
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    text-align: center;
}
.info{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    
}
.label{
    width: 100px;
    height: 10px;
    color: #fff;
}
.btn{
    border-radius: 5px;
    border: 1px solid #080808;
    background-color: #fff;
    color: black;
    padding: 10px;
    width: 100px;
}
.btn:hover{
    background-color: #2B78E4;
    padding: 15px;
    transition: 0.3s;
    width: 130px;
}
body{
    background-color: #2B78E4;
    font-family: cursive;
}
.formUser{
    background-color: #2B78E4 ;
    margin: 100px 400px 20px 400px;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    border: 2px solid #fff;
}
.footer{
    background-color: #2B78E4;
    position: absolute;
    border-top: 2px solid #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    color: #fff;
}
#btn2{
    text-decoration: none;
}
.btnEntrar{
    text-decoration: none;
    color: black;
}
#navbarBtn{
    border: 1px solid white;
    border-radius: 2px;
    margin-right: 5px;
    color: black;
}
#indexCat{
    text-align: center;
    margin-top: 0px;
    background-color: #2B78E4;
}
.catalogo{
    background-color: #2B78E4;
}
.caroussel{
    text-align: center;
    width: 500px;
}
