body{
    background-color: #227afd;
}
#btn1{
    background-color: green;
}
#btn2{
    background-color: yellow;
}
#btn3{
    background-color: rgb(19, 221, 221);
}

.info{
    text-align: center;
    background-color: #227afd;
    display: flexbox;
    border: 2px solid #fff;
    justify-content: center;
}
html{
    background-color: #227afd;
    color: #fff;
}
#title{
    background-color: #227afd;
    margin-top: 0px;
    text-align: center;
    color: #fff;
}
.btn{
    border: 1px solid #000;
    color: #fff;
}
input{
    color: #fff;
}
label{
    color: #fff;
}
