body{
    background-color: #2b78e4;
    font-family: cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formUser{
    background-color: #2b78e4;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info{
    border: 3px solid #fff;
    text-align: center;
    margin-top: 5vh ;
    padding: 15px;
    color: #fff;

}
.input{
    margin-top: 10px;
    border-radius: 3px;
    border: 0px;
}
p{
    text-align: center;
}
.btn{
    border-radius: 2px;
    border: 1px solid #000;
    background-color: #2b78e4;
    width: 50px;
    margin-top: 4px;
    color: #fff;
}
.btn:hover{
    width: 75px;
    transition: 200ms;
    padding: 10px;
    background-color: #1164da;
    border-radius: 4px;

}