body{
    background-color: #227afd;
}
.info{
    border: 2px solid #fff;
    text-align: center;
    margin: 10px;
}
p{
    text-align: center;
}
body{
    color: #fff;
}
input{
    color: #000;
    border: 0px;
    border-radius: 5px;
}
.btn{
    border: 1px solid black;
    margin: 10px;
    color: #fff;
}
#aLink{
    color: #000;
}