body{
    background-color: #227afd;
    color: #fff;
    font-family: cursive;
}
.btn.btn-success{
    background-color: green;
}
.btn.btn-warning{
    background-color: yellow;
}
.btn.btn-danger{
    background-color: red;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}