#navbarBtn{
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #1164da;
}
body{
    background-color: #227afd;
    font-family: cursive;
}
.navbar-brand{
    color: #fff;
}
#navbarCont{
    margin-left: 10px;
}

.btnEntrar{
    text-decoration: none;
    color: #fff;
}
.btnEntrar:hover{
    color: #fff;
    padding: 3px;
    transition: 20ms;

}
#indexCat{
    text-align: center;
    margin: 15px 0px 15px 0px;
    color: #fff;
}
.card{
    background-color: #227afd;
    text-align: center;
    border: 0px;
    color: #fff;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-img-top{
    width: 400px;
    height: 300px;
    border: 2px solid #fff;
    margin-left: 7px;
    margin-right: 7px;
}
.navbar{
    color: #fff;
}